# min requirements

black==21.7b0
mypy==0.910
pytest
pytest-timeout
py-algorand-sdk
-e git+https://github.com/algorand/pyteal.git@master#egg=pyteal
-e git+https://github.com/algorand/pyteal-utils.git@main#egg=pyteal_utils